pip install git+https://github.com/yt-dlp/yt-dlp.git
pip install git+https://github.com/pytgcalls/pytgcalls.git
pip install git+https://github.com/LonamiWebs/Telethon.git
pip install git+https://github.com/python-telegram-bot/python-telegram-bot.git
